@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:   'Bodoni', Didot, 'Century', "Times New Roman", serif, 'Yu Mincho', 'Hiragino Mincho ProN', 'MS PMincho';
  font-size: 18pt;
  font-weight: 100;
  letter-spacing: -1.5px;
}

/* スマホ用の回転スタイル */
@media screen and (max-width: 768px) {
  body {
    transform: rotate(90deg);
  font-size: 16pt;
  }
}

* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox (古いバージョン) */
  -ms-user-select: none;     /* IE10+ */
  user-select: none;         /* 標準 */
}
img {
  user-select: none;      
}
