.artBoard {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  top: 0;
  right: 0;
  height: 100%-2px;
  width: 100%;
  padding: 40px;
  text-align: center;
  }
  .artFrame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68%;
    height: 100%;
    border-width: 1px;
    border-color: black;
    box-sizing:border-box;
    overflow: hidden;
    pointer-events: auto;
  }
  @media (prefers-color-scheme: dark) {
    .artFrame {
        border-color: #fff;
    }
  }
  .image {
    z-index: -1;
  }
  
  .title {
    font-size: 16pt;
    margin-right: 20px;
    margin-bottom: 0;
    height: 30px;
    transform: scaleX(1.25);
    transform-origin: right;
    user-select: text;
  }
  /* スマホ用の回転スタイル */
@media screen and (max-width: 768px) {
  .title {
  font-size: 10pt;}
  .artFrame{
    width: 50%;
    width: auto; 
    aspect-ratio: 1 / 1;
  }
}
  /* styles/ArtBoard.module.css */
.skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f8f8f8 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
