.LineText {
    position: relative;
    text-decoration: none;
    color: inherit;
    display: inline-block;
  }
  
  .LineText::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: currentColor;
    transition: width 0.1s ease-in-out;
  }
  
  .LineText:hover::after,
  .LineText.active::after {
    width: 100%;
  }
  