.Line {
    position: relative; /* 擬似要素の位置を調整するため */
    width: 100%;
    height: 1px; /* 線の高さ */
    background-color: transparent; /* 初期状態では透明 */
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .Line::after {
    content: ""; /* 擬似要素を表示するために必要 */
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: black; /* 線の色 */
    transition: width 0.3s ease-in-out; /* アニメーションを設定 */
  }
  @media (prefers-color-scheme: dark) {
    .Line::after {
        background-color: #fff;
    }
  }
  .Line.active::after {
    width: 100%; /* アクティブ時に線が全体に広がる */
  }
  