.linkBox {
  display: flex;
  align-items: end;
  position: relative;
  text-decoration: none;
  padding-right: 50px; 
  height: 40px; 
}

.linkBox::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 50px);
  height: 1px;
  background-color: currentColor;
}

.platform {
  width: 150px;
}

.arrow {
  position: absolute;
  right: 0; 
  bottom: -10px; 
  opacity: 0;
  width: auto; 
  height: 50px;
}

.linkBox:hover .arrow {
  opacity: 1;
  transform: translateX(0);
}

.userId{
  user-select: text;
}