.mainSection {
    display: flex;
    height: 100%;
    width: 280px;
    flex-direction: column;
    justify-content: flex-end; /* 縦方向の位置を下に詰める */
    align-items: flex-start; 
    padding-bottom: 0px;
    padding-left: 40px;
}
.Title {
    text-align: start;
    padding-bottom: 32px;
    font-size: 28pt;
    line-height: 32pt;
    font-weight: 100;
    transform: scaleX(1.5);
    transform-origin: left;
    letter-spacing: -2px;
}
  /* スマホ用の回転スタイル */
  @media screen and (max-width: 768px) {
    .mainSection {
      display: flex;
      height: 100%;
      width: 28vh;
      flex-direction: column;
      justify-content: flex-end; /* 縦方向の位置を下に詰める */
      align-items: flex-start; 
      padding-bottom: 0px;
      padding-left: 40px;
    }
    .Title {
    font-size: 20pt;
    }
  }
.TextFrame{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end; 
}